/Eficiencia.class
/EvaluacionFinal.class
/Fiabilidad.class
/Funcionalidad.class
/Mantenibilidad.class
/Portabilidad.class
/Usabilidad.class
/Utilitaria.class
/Herramientas.class
/PantallaPrincipal.class
/.classpath
/.DS_Store
/.settings/
