/VentanaPrincipal.class
/ImagenPanel.class
/Funcionabilidad.class
/Portabilidad.class
/Usabilida.class
/Usabilidad.class
/Eficiencia.class
/Fiabilidad.class
/Mantenibilidad.class
/VentanaPrincipal$1.class
/Funcionabilidad$1.class
/Funcionabilidad$2.class
/Funcionabilidad$3.class
/Funcionabilidad$4.class
/Evaluacion.class
/Resultado.class
