/VentanaPrincipal.class
/ImagenPanel.class
/Funcionabilidad.class
/Portabilidad.class
/Usabilida.class
/Usabilidad.class
/Eficiencia.class
/Fiabilidad.class
/Mantenibilidad.class
/VentanaPrincipal$1.class
